[submodule "Externals/LibMath"]
	path = Externals/LibMath
	url = https://github.com/Motisma479/LibMath.git
[submodule "Externals/GLFW"]
	path = Externals/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Externals/GLAD"]
	path = Externals/GLAD
	url = https://github.com/dav1dde/glad
[submodule "Externals/IMGUI"]
	path = Externals/IMGUI
	url = https://github.com/ocornut/imgui.git
